div.boxed {
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.iolist {
  margin-left: 20px;
  display: none;
}

.exception {
  background-color: #f66;
  border-left: 1px solid black;
}

.include {
  background-color: #cfc;
  margin-bottom: 3px;
}

.operation {
  background-color: #cff;
  margin-bottom: 3px;
}

.sequence {
  background-color: #fc9;
  border-left: 1px solid black;
  margin-bottom: 3px;
}

.sequenceif {
  background-color: #fcc;
  border-left: 1px solid black;
  margin-bottom: 3px;
}

.sequenceforeach {
  background-color: #ccf;
  border-left: 1px solid black;
  margin-bottom: 3px;
}

.waitforasync {
  background-color: #cc6;
  border-left: 1px solid black;
  margin-bottom: 3px;
}
