/* Boxed area */
div.boxed {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}

table.standard {
  background: #333;
  border-collapse: collapse;
  font-size: 10pt;
}

.standard th {
  background: #445;
  border: 1px solid #058d95;
  padding: 0 2px 0 2px;
}

.standard td {
  text-align: left;
  background: #445 !important;
  color: #bbc !important;
  border: 1px solid #058d95;
  padding: 0 2px 0 2px;
}

.sample th {
  padding-right: 10px;
  font-weight: bold;
}

#scrollarea {
  overflow-y: scroll;
  height: 1000px;
}

/* Process flow */
.flow {
  float: left;
  width: 250px;
  padding-bottom: 10px;
}

.queue {
    text-align: center;
    position: float;
    margin: 0 0 0 25px;
    width: 150px;
}

.process {
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    position: float;
    margin: 0 0 0 25px;
    padding-top: 5px;
    background:#52b447;
    width: 150px;
    height: 30px;
    color: #222;
}

.error_queue {
    margin: 6px 0 0 0;
}

.downarrow {
  position: float;
  text-align: center;
  margin: 0 0 0 80px;
  width: 40px;
  font-size: 15px;
}

.rightarrow {
  float: left;
  margin-top: 0px;
  font-size: 20px;
}

.details {
  float: left;
  max-width: 1000px;
  max-height: 710px;
  padding: 10px;
  border: 1px solid #eee;
  overflow-y: scroll;
}

.badge-start {
  background-color: #90c;
}

.badge-empty {
  color: #003;
  background-color: #ccc;
}

.badge-error {
  background-color: #900;
}

.badge-full, .badge-queue {
  background-color: #4072b4;
}

.badge-complete {
  background-color: #090;
}

.badge-warning {
  background-color: #990;
}

.badge-late {
  background-color: #f93;
}

.tooltip .tooltip-inner {
  background-color: #52b447;
}

.btn-primary {
  background-color: #058D95;
}

.btn-success {
  background-color: #52B447;
}

/* Overrides of bootstrap */
.navbar-default {
  background-color: #222;
}
.panel-body {
  background-color: #333;
}

/* Overrides of janelia_common */

/* General */
body, input, select {
  background-color: #222;
  color: #bbc;
}

h1, h2, h3, h4, h5, h6 {
  color: #bbc;
}

/* Input */
input:focus { background: #222; }
input:hover { background: #333; }

/* Links */
a:link, a:visited { color: #6883c0; }

a:hover, a:active {
  color: #666;
  background: #336;
}

/* Bootstrap */
.breadcrumb {
  background-color: #222;
}
