div.step {
  text-align: left;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  width: 350px;
}

div.publish {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  float: left;
  min-width: 350px;
}

table.standard {
  background: #333;
  border-collapse: collapse;
  font-size: 10pt;
}

.standard th {
  background: #445;
  border: 1px solid #5895f7;
  padding: 0 2px 0 2px;
}

.standard td {
  text-align: left;
  background: #445 !important;
  color: #bbc !important;
  border: 1px solid #5895f7;
  padding: 0 2px 0 2px;
}

.boxhead {
  color: #333;
}

.mismatch {
  color: #f66;
}

/* Overrides of bootstrap */
.navbar-default {
  background-color: #222;
}
.panel-body {
  background-color: #333;
}

.panel-warning > .panel-heading {
  background-color: #c63;
  border-color: #000;
  color: white;
  font-weight: bold;
}

.panel-warning > .panel-body{
  border-color: #c63;
} 

.panel-success> .panel-heading {
  background-color: green;
  border-color: #000;
  color: white;
  font-weight: bold;
}

.panel-success> .panel-body{
  border-color: green;
}

/* Overrides of janelia_common */

/* General */
body, input, select {
  background-color: #222;
  color: #bbc;
}

h1, h2, h3, h4, h5, h6 {
  color: #bbc;
}

/* Input */
input:focus { background: #222; }
input:hover { background: #333; }

/* Links */
a:link, a:visited { color: #6883c0; }

a:hover, a:active {
  color: #666;
  background: #336;
}

/* Bootstrap */
.breadcrumb {
  background-color: #222;
}
