/* Boxed area */
div.boxed {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}

table.standard {
  background: #f7f7f7;
  border-collapse: collapse;
  font-size: 10pt;
}

.standard th {
  background: #e7e7e7;
  border: 1px solid #058d95;
  padding: 0 2px 0 2px;
}

.standard td {
  text-align: left;
  border: 1px solid #058d95;
  padding: 0 2px 0 2px;
}

.sample_container {
  float: left;
  margin-top: 10px;
  background: #373737;
  width: 100%;
  border: 1px solid #33ccff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}

.sample {
  float: left;
  text-align: center;
  background: #000;
  color: #fff;
  border: 1px solid #cecece;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  font: 9pt Tahoma, Arial, sans-serif;
  width: 200px;
  margin: 1px;
}

.sample img  {
  border: 1px solid #444;
}
