/* Boxed area */
div.boxed {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}

#scrollarea {
  overflow-y: scroll;
  height: 1000px;
}

.line {
  background-color: #333;
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}

.line h3 { font-size: 18pt; }

table.standard {
  background: #f7f7f7;
  border-collapse: collapse;
  font-size: 11pt;
  margin-bottom: 10px;
}

.standard th {
  padding: 0 2px 0 2px;
}

.standard td {
  text-align: left;
  padding: 0 5px 0 0;
}

table.basic {
  border-collapse: collapse;
}

.basic td {
  text-align: left;
  padding: 0 5px 0 0;
}

.imgoptions {
  width: 10%;
  background: #f7f7f7;
}

table.halves {
  background: #f7f7f7;
  color: #000;
  border-collapse: collapse;
  font-size: 11pt;
}

.halves th {
  padding: 0 5px 0 10px;
}

.halves td {
  text-align: left;
  padding: 0 5px 0 5px;
}

.inputblock {
  float: left;
  margin: 5px 0 0 0;
}

.single_mip {
  float: left;
  border: 1px solid #666;
  background-color: #333;
  text-align: center;
  margin: 5px 5px 0 0;
}

.checkboxes {
  float: left;
  background-color: #333;
}

table.verify {
  background: #f7f7f7;
  border-collapse: collapse;
  font-size: 11pt;
}

.verify th {
  background: #e7e7e7;
  border: 1px solid #5895f7;
  padding: 0 2px 0 2px;
}

.verify td {
  text-align: center;
  border: 1px solid #5895f7;
  padding: 0 2px 0 2px;
}

table.categoryx {
  border-collapse: collapse;
}
.categoryx th {
  transform: rotate(-90deg);
}

.category {
  float: left;
  margin: -10px 5px 0 -150px; 
  transform: rotate(270deg);
  transform-origin: right bottom 0;
  font-weight: bold;
}

.initialsplit {background-color: #058d95;}
.initialsplit_adjusted {
background: repeating-linear-gradient(
  45deg,
  #058d95,
  #058d95 10px,
  #777795 10px,
  #777795 20px
);
}
.stablesplit {background-color: #00a350;}
.stablesplit_adjusted {
background: repeating-linear-gradient(
  45deg,
  #553d95,
  #553d95 10px,
  #777795 10px,
  #777795 20px
);
}
.polarity {background-color: #00a350;}
.polarity_adjusted {
background: repeating-linear-gradient(
  45deg,
  #00a350,
  #00a350 10px,
  #777750 10px,
  #777750 20px
);
}

.stamp {
  float: left;
  position: relative;
  bottom: -20px;
  width: 150px;
  height: 190px;
  margin: 0 0 0 60px;
  font-size: 20pt;
  font-weight: bold;
  color: #c63;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  writing-mode: lr-tb;
}

h3 { color: #ccc; }
